* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header, footer {
  background-color: lightcoral;
  color: white;
  padding: 10px;
  text-align: center;
}

main {
  padding: 20px;
  text-align: center;
  background-color: lightblue;
}

button {
  padding: 10px;
  background-color: lightgreen;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#randomNumber {
  font-weight: bold;
  margin: 20px;
}
